<!-- incluindo o Header-->
<%- include ('./partials/head') %> 
  <body>
    <!-- incluindo a Navbar-->
    <%- include ('./partials/navbar') %> 
    <div class="container">
      <br><br>

      <div class="card shadow">
        <div class="card-header bg-purple text-white p-4 pl-5">
          <h2 class="float-left" class="card-title"><a href="/"><i class="fas fa-long-arrow-alt-left pr-5 text-white"></i></a><i class="fas fa-clipboard text-white"></i> Meus Avisos</h2>
          <h2><a class="float-right text-white pr-5" href="/warnings/new"><i class="fas fa-plus-square text-white"></i></a></h2>
        </div>
        <div class="card-body p-5">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Data</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
              <% if (avisos.length < 1){ %>
                <tr>
                  <td colspan="4" class="text-center">Nenhum Aviso Cadastrado.</td>
                </tr>
              <% } %>

              <% avisos.forEach(aviso => { %>
                <tr>
                  <th scope="row"> <%= aviso.ID_avisos %>  </th>
                  <td> <%= aviso.titulo %>  </td>
                  <td> <%= moment(aviso.data).format('DD/MM/YYYY') %> </td>
                  <td>
                    <button class="btn bg-purple">Alterar</button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#excluirModal" onclick="excluir(event, '<%= aviso.ID_avisos %>')">Excluir</button>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div> <!--card-body-->
      </div> <!--card-->
    </div> <!--container-->

    <!-- Modal -->
    <div class="modal fade" id="excluirModal" tabindex="-1" aria-labelledby="excluirModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Deseja realmente excluir esse Aviso?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Título</th>
                  <th scope="col">Data</th>
                </tr>
              </thead>
              <tbody>
                <tr id="modal-tr-body">
                  <td>#</td>
                  <td>#</td>
                  <td>#</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-purple" data-dismiss="modal">Não</button>
            <form id="form-excluir" method="GET">
              <button type="submit" class="btn btn-danger">Sim</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts do bootstrap-->
    <%- include ('./partials/scriptsImport') %>

    <!-- script do modal-->
    <script>
      function excluir(event, id){

        var tdBotoes = event.target.parentElement
        var trAviso = tdBotoes.parentElement
        var trModal = document.getElementById('modal-tr-body')

        var formExcluir = document.getElementById('form-excluir')

        formExcluir.action = "warnings/excluir/" + id

        trModal.innerHTML = trAviso.innerHTML
        trModal.removeChild(trModal.lastElementChild)
      }
    </script>
  </body>
</html>